
global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:
  # Scrape Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  # Scrape Node Exporter (host/system metrics)
  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']


rule_files:
  - "alert.rules.yml"

